#container-phone {
  display: none;
}

#container {
  text-align: center;
  margin-top: 5%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#boxContainer {
  text-align: center;
}
#row1, #row2, #row3, #row4, #boxPic {
  position: relative;
}
#row2, #row3, #row4 {
  margin-top: -18%;
}
.crayon {
  width: 5%;
  max-width: 50px;
}
.crayon:hover {
  -ms-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  z-index: -10;
  cursor: pointer;
}
.crayon:active {
  -ms-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
#bg1 {
  width: 200px;
  height: 40px;
  background-color: red;
  margin-top: -1%;
}
#boxPic {
  margin-top: -17%;
  width: 100%;
  max-width: 900px;
}
#colorInfo {
  position: relative;
  color: #0a752e;
  margin-top: -40%;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}
.title {
  font-size: 2.2em;
}

.words {
  display: none;
}
@media only screen and (max-width: 600px) {
    #colorInfo {
      font-size: 10pt;
    }
}
