#container {
  text-align: center;
  margin-top: 2%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#boxContainer {
  text-align: center;
}

#row1, #row2, #row3, #row4, #boxPic {
  position: relative;
}


#row2, #row3, #row4 {
  margin-top: -18%;
}


.crayon {
  width: 5%;
  max-width: 50px;
}

.crayon:hover {
  -ms-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  z-index: -10;
}

#bg1 {
  width: 200px;
  height: 40px;
  background-color: red;
  margin-top: -1%;
}

#boxPic {
  margin-top: -15%;
  width: 100%;
  max-width: 900px;
}

#colorInfo {
  position: relative;
  color: #0a752e;
  margin-top: -50%;
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
}
.title {
  font-size: 2.2em;
}

.words {
  display: none;
}
